<textarea class="mdl-textfield__input" type="{{type}}" id="{{_inputId}}" disabled={{disabled}} value="{{value}}" >
</textarea>
<label class="mdl-textfield__label">{{label}}</label>
{{#if errorMessage}}
<span class="mdl-textfield__error">{{errorMessage}}</span>
{{/if}}
