{{#x-nav
  title="Ember Material Design Lite"
  mobileTitle="Ember MDL"
  includeHeaderItems=false
  includeDrawerTitle=false
  fixedHeader=true
  fixedDrawer=true
}}
  {{mdl-nav-item
    name="Badges"
    inHeader=false
    route="badges"
  }}
  {{mdl-nav-item
    name="Buttons"
    inHeader=false
    route="buttons"
  }}
  {{mdl-nav-item
    name="Cards"
    inHeader=false
    route="cards"
  }}
  {{mdl-nav-item
    name="Footers"
    inHeader=false
    route="footer"
  }}
  {{mdl-nav-item
    name="Icons"
    inHeader=false
    route="icons"
  }}
  {{mdl-nav-item
    name="Inputs"
    inHeader=false
    route="textfields"
  }}
  {{mdl-nav-item
    name="Menus"
    inHeader=false
    route="menus"
  }}
  {{mdl-nav-item
    name="Nav"
    inHeader=false
    route="navs"
  }}
  {{mdl-nav-item
    name="Progress"
    inHeader=false
    route="progress"
  }}
  {{mdl-nav-item
    name="Sliders"
    inHeader=false
    route="sliders"
  }}
  {{mdl-nav-item
    name="Table"
    inHeader=false
    route="table"
  }}
  {{mdl-nav-item
    name="Tabs"
    inHeader=false
    route="tabs"
  }}
  {{mdl-nav-item
    name="Toggles"
    inHeader=false
    route="toggles"
  }}
  {{mdl-nav-item
    name="Tooltips"
    inHeader=false
    route="tooltips"
  }}
  <div class="mdl-grid">

    {{outlet}}
  </div>
{{/x-nav}}
