{{#mdl-nav fixedHeader=true fixedDrawer=true}}
  {{#mdl-nav-header}}
    <span class="mdl-layout-title">Ember Material Design Lite</span>
    <div class="mdl-layout-spacer"></div>
    {{#mdl-nav-menu class="mdl-layout--large-screen-only"}}
      <a class='mdl-navigation__link github-link' href='https://github.com/truenorth/ember-material-lite' target='_blank'>
        <i class="material-icons">code</i>
        GitHub
      </a>
    {{/mdl-nav-menu}}
  {{/mdl-nav-header}}

  {{#mdl-nav-drawer}}
    {{#mdl-nav-menu}}
      {{mdl-nav-item 'Badges' 'badges'}}
      {{mdl-nav-item 'Buttons' 'buttons'}}
      {{mdl-nav-item 'Cards' 'cards'}}
      {{mdl-nav-item 'Footers' 'footer'}}
      {{mdl-nav-item 'Icons' 'icons'}}
      {{mdl-nav-item 'Inputs' 'textfields'}}
      {{mdl-nav-item 'Menus' 'menus'}}
      {{mdl-nav-item 'Nav' 'navs'}}
      {{mdl-nav-item 'Progress' 'progress'}}
      {{mdl-nav-item 'Sliders' 'sliders'}}
      {{mdl-nav-item 'Table' 'table'}}
      {{mdl-nav-item 'Tabs' 'tabs'}}
      {{mdl-nav-item 'Toggles' 'toggles'}}
      {{mdl-nav-item 'Tooltips' 'tooltips'}}
      <a class='mdl-navigation__link github-link drawer' href='https://github.com/truenorth/ember-material-lite' target='_blank'>
        {{ mdl-icon icon="code" }}
        GitHub
      </a>
    {{/mdl-nav-menu}}
  {{/mdl-nav-drawer}}

  {{#mdl-nav-content}}
    <div class="mdl-grid">
      {{ outlet }}
    </div>
  {{/mdl-nav-content}}
{{/mdl-nav}}