<div class="mdl-cell mdl-cell--12-col">
  <h2>Toggles</h2>
</div>
{{#x-example
  snippet="mdl-toggles-switch"
  title="Switch"
  valueA=switchValueA
  valueB=switchValueB
  cols=6
}}
  <p>Value A: {{switchValueA}}</p>
  <p>Value B: {{switchValueB}}</p>
{{/x-example}}

{{#x-example
  snippet="mdl-toggles-checkbox"
  title="Checkbox"
  valueA=checkValueA
  valueB=checkValueB
  cols=6
}}
  <p>Value A: {{checkValueA}}</p>
  <p>Value B: {{checkValueB}}</p>
{{/x-example}}

{{#x-example snippet="mdl-toggles-radio" title="Radio" cols=6}}

{{/x-example}}

{{#x-example
  snippet="mdl-toggles-icon"
  title="Icon Toggles"
  cols=6
  valueA=toggleValueA
  valueB=toggleValueB
}}
  <p>Value A: {{toggleValueA}}</p>
  <p>Value B: {{toggleValueB}}</p>
{{/x-example}}
